.header{
    background-color: #2a5a97;
    display:flex;
    align-items: center;
    position: sticky;
    top:0;
    z-index:100;
    height: 150px;
    
}

.header__logo{
width:100px;    
object-fit: contain;
margin-left:20px;
margin-right:20px;
margin:0px 20px;
margin-top:18px;
background-color: "pink";


}

.header__search{
    display:flex;
    flex-direction: column;
    flex:1;
}
.header__searchInput{
    width:100%;    
    
    object-fit: contain;
    background-color: "pink";
    /* margin-left:20px;
    margin-right:20px;
    margin:0px 20px;
    margin-top:18px; */
}


.header__nav{
    display:flex;
    justify-content: space-evenly;
    /* background-color: blanchedalmond; */
}

.header__link{
    color:white;
    text-decoration:none;
    /* background-color: red; */
}
.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__optionLineOne{
font-size:10px;
/* font-family: Starjedi, serif; */
}

.header__optionLineTwo{
font-size: 13px;
font-weight: 800;
font-family: Starjedi, serif;

}

.header__optionBasket{
    display:flex;

}

.header_baketCount{
    margin-left:10px;
    margin-right: 10px;
}